<header>
    <a href="/profile">profile</a>
    <a href="/products">products</a>
    <a href="/realTimeProducts">product admin</a>
    {{#unless isAdmin}}
    <a href="/carts/{{cart}}">cart</a>
    {{/unless}}
    {{#if isAdmin}}
        <a href="/adminDashboard/users">admin dashboard</a>
    {{/if}}
</header>
<h1> Bienvenid@ {{first_name}} {{last_name}}</h1>
<hr>
<div>
    <div id="products">
    {{#each products}}
        <div class="card">
            <span>titulo: {{this.title}}</span>
            <span>descripcion: {{this.description}}</span>
            <span>precio: ${{this.price}}</span>
            <span>categoria: {{this.category}}</span>
            <span>thumbnails: {{this.thumbnails}}</span>
            <span>id: {{this._id}}</span>
            <span>owner: {{this.owner}}</span>
            {{#unless ../isAdmin}}
                <button data-productid={{this._id}}>add to cart</button>
            {{/unless}}
            
        </div>
    {{/each}}
    </div>
</div>
<div class="browse-pages" id="browsePages">
    <a class="previous-page" href="products?page={{previousPage}}"><<</a>
    <a class="next-page" href="/products?page={{nextPage}}">>></a>
</div>

<script src="/socket.io/socket.io.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
<script src="/js/productsWithPaginate.js"></script>