<header>
    <a href="http://localhost:8080/profile">profile</a>
    <a href="http://localhost:8080/products">products</a>
    <a href="http://localhost:8080/realTimeProducts">product admin</a>
</header>
<div class="users-container" id="users-container">
    {{#each users}}
        <div class="card">
            <span>Nombre: {{this.full_name}}</span>
            <span>E-mail: {{this.email}}</span>
            <span>Edad: {{this.age}}</span>
            <span>Membresia: {{this.membership}}</span>
            <span>ID del carrito: {{this.cart}}</span>
            <span>Ultima conexión: {{this.last_connection}}</span>
            <span>Estado: {{this.status}}</span>
            <span>ID: {{this.id}}</span>
            <button class="button-delete" data-userid={{this.id}}>X</button>
        </div>
    {{/each}}
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/userManagement.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>


