<header>
    <a href="/profile">profile</a>
    <a href="/products">products</a>
    <a href="/realTimeProducts">product admin</a>
    <a href="/adminDashboard/users">admin dashboard</a>
</header>
<div class="users-container" id="users-container">
    {{#each users}}
        {{#unless this.isAdmin}}
        <div class="card">
            <span>Nombre: {{this.full_name}}</span>
            <span>E-mail: {{this.email}}</span>
            <span>Edad: {{this.age}}</span>
            <span>Membresia: {{this.membership}}</span>
            <button id="button-change-membership" data-userid={{this.id}}> cambiar membresia </button>
            <span>ID del carrito: {{this.cart}}</span>
            <span>Ultima conexión: {{this.last_connection}}</span>
            <span>Estado: {{this.status}}</span>
            <span>ID: {{this.id}}</span>
            <button id="button-delete-user" class="button-delete" data-userid={{this.id}}>X</button>
        </div>
        {{/unless}}
    {{/each}}
</div>

<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
<script src="/js/userManagement.js"></script>

